<!-- 登录 -->
<div class="login-box">
	<div class="login-main">
		<img src="img/default.jpg"/>
		<div class='login-info'>
			<div class="username login-input-box">
				<input name="username" type='text' class="login-input" id="username" value='' placeholder="手机号/学生圈号/身份账号/准考证号"/>
			</div>
			<div class="password login-input-box">
				<input name="password" type='password' class="login-input" id="password" value='' placeholder="密码"/>
			</div>
		</div>
		<div id="loginSubmit">登陆</div>
	</div>
	<footer class="clearfix" id="reg_for">
		<a href="#_blank" class="loginAbout regis">注册</a>
		<a href="#_blank" class="loginAbout forget">忘记密码</a>
	</footer>
</div>

<!-- <iframe style="display: none;" id="crossDomainIframe" src="../new/crossDomain/domain.html"></iframe> -->