<li><a href="#home/home/Uid:<%=userId%>/"><img src="img/school.png"/><em>学校</em></a></li>
<li><a href="#classSay/classSay/Uid:<%=userId%>/"><img src="img/classSay.png"/><em>同学说</em></a></li>
<li><img style="width:4.5em;height:5em; margin-top: -1.23em;" src="img/A1_bottom_.png"/></li>
<!-- <li><a href="#info/info/Uid:<%=userId%>/"><img src="img/A1_bottom_3.png"/><em>消息</em></a></li> -->
<li><a href="#events/eventList/Uid:<%=userId%>/"><img src="img/event.png"/><em>活动</em></a></li>
<li><a href="#profile/profile/id:<%=userId%>"><img src="img/mine.png"/><em>我</em></a></li>